*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

input[type="date"] {
    width: 200px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
input[type="date"]:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(102, 175, 233, 0.25);
}
input[type='time']{
    width: 200px;
    height: 40px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
input[type='time']:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(102, 175, 233, 0.25);
}
button{
    padding: 10px 0px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    margin: 3px 10px;
    font-size: 20px;
}
button:hover{
    background-color: #45a049;
}
input{
    display: block;
    margin: 10px;
    padding-left: 10px;
    font-size: 20px;
}

.filler-container {
    position: relative;
    height: 25px;
    background-color: #e8e8e8;
    overflow: hidden;
    /*border: 2px solid #dedede;*/
    border-radius: 4px;
}

.filler {
    position: absolute;
    height: 25px;
    background-color: #ff6767;
}

#popup{
    opacity: 0;
    width: 200px;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: #1f254188 0px 5px 20px;

    background-color: rgba(255, 255, 255, 0.5); /* semi-transparent black background */
    backdrop-filter: blur(5px); /* apply backdrop blur effect */
    z-index: 1; /* ensure the backdrop is behind the popup */
    cursor: pointer;
    transition: opacity 0.2s;
}
.loader-button {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: calc(100% - 20px);
}
.loader-button:disabled{
    cursor: not-allowed;
    background-color: #cccccc;
    width: calc(100% - 20px);
    height: 43px;
}
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

text, circle{
    transition: all 0.2s;
    cursor: pointer;
}

#telegram{
    position: absolute;
    left: 10px;
    bottom: -50px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}
